Repository base/web, pull requests merged in 2024-12, with the labels that each got.

#1270 add: madnft.io to ecosystem data
  apps/web/public/images/partners/madnft.png
  apps/web/src/data/ecosystem.json
Labels: ecosystem, community contribution

#1285 added Twi, Ewe and Ga translation of "Base is for everyone" on homepage
  apps/web/src/components/base-org/root/SlidingTextSection/index.tsx
Labels: community contribution

#1302 Typo Update generate-dockerfiles-pipeline.sh
  tools/ci/generate-dockerfiles-pipeline.sh
Labels: community contribution

#1170 Optimized Banner Component
  libs/base-ui/components/Layout/Nav/Banner.tsx
  libs/base-ui/contexts/Analytics.tsx
  libs/base-ui/contexts/Experiments.tsx
Labels: state: backlog, community contribution

#1376 Fix: broken links and update library names in documentation
  apps/base-docs/base-learn/docs/imports/imports-sbs.md
  apps/base-docs/docs/tools/basenames-faq.md
  apps/base-docs/docs/tools/cross-chain.md
Labels: community contribution

#1375 OpenSea Testnet URL
  apps/base-docs/tutorials/docs/2_dynamic-nfts.md
Labels: community contribution

#1347 Fix Typographical Errors and Improve Documentation Clarity
  README.md
  apps/base-docs/base-learn/docs/advanced-functions/function-modifiers.md
  apps/base-docs/base-learn/docs/arrays/filtering-an-array-sbs.md
  apps/base-docs/base-learn/docs/deployment-to-testnet/contract-verification-sbs.md
  apps/base-docs/base-learn/docs/hardhat-deploy/hardhat-deploy-sbs.md
  apps/base-docs/base-learn/docs/hardhat-testing/hardhat-testing-sbs.md
  apps/base-docs/base-learn/docs/mappings/mappings-sbs.md
  apps/base-docs/base-learn/docs/storage/simple-storage-sbs.md
  apps/base-docs/docs/tools/basenames-faq.md
Labels: change(s) requested, community contribution

#1387 Update Ecosystem Page
  apps/web/public/images/partners/dimo.png
  apps/web/public/images/partners/synfutures.png
  apps/web/public/images/partners/vertex.png
  apps/web/src/data/ecosystem.json
Labels: ecosystem

#1382 Fix CSS Display Property in Banner Styles
  apps/base-docs/src/components/Banner/styles.module.css
Labels: state: backlog, community contribution

#1384 Fix Incorrect Font-Weight Value in CSS Variable
  apps/base-docs/src/css/root.css
Labels: state: backlog, community contribution

#1390 docs: typo Update hardhat.md
  apps/base-docs/docs/tools/hardhat.md
Labels: community contribution, base docs review

#1128 Add Minimatch to Ecosystem
  apps/web/public/images/partners/minimatch.png
  apps/web/src/data/ecosystem.json
Labels: base ecosystem review, community contribution

#1290 chore: add Swedish & Thai translations of "Base is for everyone" on homepage
  apps/web/src/components/base-org/root/SlidingTextSection/index.tsx
Labels: community contribution, base translation review

#1322 Fix broken link: contracts.md
  apps/base-docs/docs/contracts.md
Labels: base web review, ready for merge

#1409 Add moxie to Ecosystem page
  apps/web/public/images/partners/moxie.png
  apps/web/src/data/ecosystem.json
Labels: base ecosystem review

#1410 [Tutorial]: Create Onchain Subscription Payments with Spend Permissions
  apps/base-docs/tutorials/docs/1_smart-wallet-spend-permissions.md
Labels: base docs review

#1444 chore: correct typo route.ts
  apps/web/app/(basenames)/api/basenames/avatar/ipfsUpload/route.ts
Labels: base web review

#1443 docs fix spelling issue
  apps/bridge/next.config.js
Labels: base docs review

#1447 Fix typos and spelling errors in documentation
  apps/web/app/(basenames)/name/[username]/opengraph-image.tsx
  apps/web/pages/api/basenames/[name]/assets/cardImage.svg.tsx
  apps/web/pages/api/basenames/metadata/[tokenId].ts
Labels: base docs review

#1423 [DackieSwap] Update logo and description
  apps/web/public/images/partners/dackie.webp
  apps/web/src/data/ecosystem.json
Labels: base ecosystem review

#1450 typo improvement
  .vscode/settings.json
Labels: base web review

#1458 fix: typos in documentation files
  apps/web/src/data/ecosystem.json
Labels: base docs review

#1463 correct minimal-token-sbs.md
  apps/base-docs/base-learn/docs/minimal-tokens/minimal-token-sbs.md
Labels: base docs review

#1191 Add Anzen to ecosystem page
  apps/web/public/images/partners/anzen.png
  apps/web/src/data/ecosystem.json
Labels: base ecosystem review

#1474 Fixed typos and improved clarity in documentation
  apps/base-docs/docs/tokens/token-list.md
  apps/bridge/src/data/useWithdrawals.ts
  apps/web/app/AppProviders.tsx
  apps/web/contexts/Analytics.tsx
  apps/web/pages/api/proofs/coinbase/index.ts
Labels: base web review

#1472 Fixed in the comment from “desposit” to “deposit”.
  apps/bridge/src/utils/transactions/isETHOrERC20Deposit.ts
Labels: base web review

#1471 Fix Typos and Update Links in Documentation
  apps/base-docs/docs/notices/decomissioning-public-geth-archive-snapshots.md
  apps/base-docs/docs/tools/oracles.md
  apps/base-docs/tutorials/docs/1_smart-wallet-spend-permissions.md
  apps/base-docs/tutorials/docs/1_verify-contract-with-basescan.md
  apps/base-docs/tutorials/docs/4_hardhat-test-coverage.md
Labels: base docs review

#1469 fix: several typos
  .eslintrc.js
  .gitignore
  CONTRIBUTING.md
Labels: base web review

#1468 typo improvement
  apps/web/src/data/ecosystem.json
Labels: base ecosystem review

#1459 Tribally Contributors
  apps/web/public/images/partners/tribally.png
  apps/web/src/data/ecosystem.json
Labels: base ecosystem review

#1359 Docs Update: Adding Reown to the Docs
  apps/base-docs/docs/tools/account-abstraction.md
  apps/base-docs/docs/tools/onboarding.md
Labels: base ecosystem review

#1489 Fixing Typographical Errors in Documentation
  apps/base-docs/base-learn/docs/reading-and-displaying-data/configuring-useReadContract.md
Labels: base docs review

#1499 Update 5_basename-frames.md
  apps/base-docs/tutorials/docs/5_basename-frames.md
Labels: base docs review

#1482 Add Talentir
  apps/web/public/images/partners/talentir.png
  apps/web/src/data/ecosystem.json
Labels: base ecosystem review

#1439 Listing request Arcadia Games including new format for #1319
  apps/web/public/images/partners/arcadia-games.png
  apps/web/src/data/ecosystem.json
Labels: base ecosystem review, ready for merge
