Repository base/web, pull requests merged in 2025-01, with the labels that each got.

#1436 Message Design Patterns
  apps/base-docs/tutorials/docs/5_cross-chain-with-layerzero.md
Labels: base web review

#1491 docs(README): Add link to Base editorial style guide
  README.md
Labels: base web review

#1512 Fix typos and minor improvements in the Fleek deployment tutorial
  apps/base-docs/tutorials/docs/5_deploy-with-fleek.md
Labels: base docs review

#1511 Adding project BlockAI/ BAI
  apps/web/public/images/partners/blockai.png
  apps/web/src/data/ecosystem.json
Labels: base ecosystem review

#1514 Grammar in "Additional context" Description
  .github/ISSUE_TEMPLATE/docs_request.yml
Labels: base docs review

#1544 Improve Grammar in Docs
  apps/base-docs/tutorials/docs/2_paymaster-sponsor-using-wagi.md
Labels: base docs review

#1545 Update network-faucets.md
  apps/base-docs/docs/tools/network-faucets.md
Labels: change(s) requested, base docs review

#1231 Fix Variable Name Issues and Grammar Errors
  apps/base-docs/base-learn/docs/arrays/arrays-exercise.md
  apps/base-docs/base-learn/docs/imports/imports-sbs.md
  apps/base-docs/base-learn/docs/storage/simple-storage-sbs.md
Labels: base docs review

#1550 docs(ecosystem): Add Turnkey
  apps/web/public/images/partners/turnkey.png
  apps/web/src/data/ecosystem.json
Labels: base ecosystem review

#1546 fix: typos
  apps/base-docs/tutorials/docs/2_email-campaign-with-resend.md
Labels: base docs review

#1528 typo fix useWriteContractsWithLogs.ts
  apps/web/src/hooks/useWriteContractsWithLogs.ts
Labels: base web review

#1438 chore: add Russian and Ukrainian translation of "Base is for everyone" on the homepage
  apps/web/src/components/base-org/root/SlidingTextSection/index.tsx
Labels: base translation review

#1520 Improve Document clarity, fix typos, and enhance formatting
  README.md
Labels: base docs review

#1562 chore: add base community leaders
  apps/web/src/components/GetStarted/GetInvolved.tsx
Labels: base web review

#1558 docs(hardhat): Clarify API key is required
  apps/base-docs/tutorials/docs/0_deploy-with-hardhat.md
Labels: base docs review

#1568 docs: typo fix Update data-indexers.md
  apps/base-docs/docs/tools/data-indexers.md
Labels: base docs review

#1563 Virtuals Protocol
  apps/web/public/images/partners/virtuals.png
  apps/web/src/data/ecosystem.json
Labels: base ecosystem review

#1513 Update main.yml
  .github/workflows/main.yml
Labels: base web review

#1454 fix return type and ensure proper handling of Wei in formatWei function
  apps/web/src/utils/formatWei.ts
Labels: base web review

#1551 refactor: convert analytics context from string to enum
  apps/web/contexts/Analytics.tsx
  libs/base-ui/utils/logEvent.ts
Labels: base web review

#1605 fix: update broken links in docs
  apps/base-docs/docs/tools/onboarding.md
  apps/base-docs/tutorials/docs/2_1_simple-onchain-nfts.md
Labels: base docs review

#1590 Fix typos in Base Learn badge description and comments
  apps/web/src/components/Basenames/UsernameProfileSectionBadges/Badges/index.tsx
  apps/web/src/components/Basenames/UsernameProfileSectionBadges/hooks/useBuildathon.ts
Labels: base ecosystem review

#1587 Fix typographical errors
  apps/web/next.config.js
  apps/web/src/components/Basenames/UsernameProfileTransferOwnershipModal/context.tsx
  apps/web/src/hooks/useRegisterNameCallback.ts
  apps/web/src/hooks/useWriteBaseEnsTextRecords.ts
  apps/web/src/hooks/useWriteContractWithReceipt.ts
  apps/web/src/hooks/useWriteContractsWithLogs.ts
Labels: base web review

#1584 fix: typo correction index.tsx
  apps/web/src/components/base-org/Button/index.tsx
Labels: base web review

#1578 Update next.config.js
  apps/web/next.config.js
Labels: base web review

#1327 revise ghostlogs to ghost with rebrand
  apps/web/src/data/ecosystem.json
Labels: base ecosystem review, ready for merge

#1539 Add Infinity Wallet to Ecosystem page
  apps/web/public/images/partners/infinity-wallet.png
  apps/web/src/data/ecosystem.json
Labels: base ecosystem review

#1573 Add CBomber to ecosystem page
  apps/web/public/images/partners/cbomber.png
  apps/web/src/data/ecosystem.json
Labels: base ecosystem review

#1583 chore: add Germany & Turkish translations of `Base is for everyone` on homepage
  apps/web/src/components/base-org/root/SlidingTextSection/index.tsx
Labels: base translation review

#1610 fix: update broken links in `tutorials/docs`
  apps/base-docs/tutorials/docs/4_account-abstraction-with-privy-and-base-paymaster.md
  apps/base-docs/tutorials/docs/5_cross-chain-with-layerzero.md
Labels: base docs review

#1508 docs: Improve quickstart guide formatting and environment setup clarity
  apps/base-docs/docs/building-with-base/quickstart.md
Labels: base docs review, ready for merge

#1303 Add songbirdz to web base org
  apps/web/public/images/partners/songbirdz.png
  apps/web/src/data/ecosystem.json
Labels: base ecosystem review, ready for merge

#1263 Adding Layerswap to the Base Ecosystem page
  apps/web/public/images/partners/Layerswap-logo.png
  apps/web/src/data/ecosystem.json
Labels: change(s) requested, base ecosystem review
