Repository base/web, pull requests merged in 2025-05, with the labels that each got.

#1950 Fix referer host validation in avatar upload route
  apps/web/app/(basenames)/api/basenames/avatar/ipfsUpload/route.ts
Labels: base web review

#2125 Update quickstart.mdx
  apps/base-docs/docs/pages/builderkits/minikit/quickstart.mdx
Labels: base docs review

#2264 Refactor Chain docs to add performance and troubleshooting
  apps/base-docs/docs/pages/chain/connecting-to-base.mdx
  apps/base-docs/docs/pages/chain/node-performance.mdx
  apps/base-docs/docs/pages/chain/node-snapshots.mdx
  apps/base-docs/docs/pages/chain/node-troubleshooting.mdx
  apps/base-docs/docs/pages/chain/run-a-base-node.mdx
  apps/base-docs/docs/public/serve.json
  apps/base-docs/sidebar.ts
Labels: base docs review

#2112 Fix time durations - Smart Wallet Quickstart
  apps/base-docs/docs/components/SmartWalletQuickstartOptions.tsx
  apps/base-docs/docs/pages/identity/smart-wallet/quickstart/index.mdx
  apps/base-docs/docs/pages/identity/smart-wallet/quickstart/quick-demo.mdx
Labels: change(s) requested, base docs review

#2121 Fix :link
  apps/base-docs/docs/pages/chain/oracles.mdx
Labels: base docs review

#2124 Fixed a link
  apps/base-docs/docs/pages/chain/oracles.mdx
Labels: base docs review

#2109 Viem link fix
  apps/base-docs/docs/pages/cookbook/client-side-development/viem.mdx
  apps/base-docs/docs/pages/cookbook/client-side-development/web3.mdx
Labels: change(s) requested, base docs review

#2127 Frames to mini apps shift
  apps/base-docs/docs/pages/cookbook/use-case-guides/hyperframes.mdx
Labels: base docs review

#2144 Update docs overview page to direct MiniKit card to MiniKit Overview
  apps/base-docs/docs/pages/index.mdx
Labels: base docs review

#2128 context fix in feature_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: base docs review

#2129 Revise README.md
  apps/base-docs/README.md
Labels: base docs review

#2130 Update nft-minting link
  apps/base-docs/docs/pages/cookbook/use-case-guides/nft-minting.mdx
Labels: base docs review

#2158 fix err switching-chains.mdx
  apps/base-docs/docs/pages/identity/wallet-sdk/switching-chains.mdx
Labels: base docs review

#2154 Fix :Update storage-exercise.mdx
  apps/base-docs/docs/pages/learn/storage/storage-exercise.mdx
Labels: base docs review

#2157 docs: Fix Tink repository link
  apps/base-docs/docs/pages/identity/mobile-wallet-protocol/encryption.mdx
Labels: base docs review

#2303 adding VaultX to base ecosystem page
  apps/web/public/images/partners/VaultX.png
  apps/web/src/data/ecosystem/VaultX/metadata.json
Labels: base ecosystem review

#2301 Fix typos and formatting issues in MiniKit quickstart documentation
  apps/base-docs/docs/pages/builderkits/minikit/quickstart.mdx
Labels: base docs review

#2163 Add Chainstack faucet
  apps/base-docs/docs/pages/chain/network-faucets.mdx
Labels: base docs review

#2294 docs: Fix verb agreement in "Developer settings" description
  apps/base-docs/docs/pages/identity/wallet-sdk/developer-settings.mdx
Labels: base docs review

#2289 Add AnyCampus to the ecosystem page
  apps/web/public/images/partners/anycampus.png
  apps/web/src/data/ecosystem/anycampus/metadata.json
Labels: base ecosystem review

#2245 Add Collectr to Ecosystem - Consumer/NFT
  apps/web/public/images/partners/collectr.webp
  apps/web/src/data/ecosystem/collectr/metadata.json
Labels: base ecosystem review

#2283 fix link to display image hardhat-verify-sbs.mdx
  apps/base-docs/docs/pages/learn/hardhat-verify/hardhat-verify-sbs.mdx
Labels: base docs review

#2320 Update Ecosystem page and Docs
  apps/base-docs/docs/pages/builderkits/minikit/existing-app-integration.mdx
  apps/base-docs/docs/pages/builderkits/minikit/quickstart.mdx
  apps/base-docs/docs/pages/cookbook/cross-chain/send-messages-and-tokens-from-base-chainlink.mdx
  apps/base-docs/docs/pages/learn/deployment-to-testnet/deployment-to-base-sepolia-sbs.mdx
  apps/base-docs/docs/public/serve.json
  apps/web/public/images/partners/BondiFinance.png
  apps/web/public/images/partners/a0x.png
  apps/web/public/images/partners/bankless-academy.png
  apps/web/public/images/partners/burner.png
  apps/web/public/images/partners/cybro.png
  apps/web/public/images/partners/drop-dimes.png
  apps/web/public/images/partners/fractal-visions.png
  apps/web/public/images/partners/securedapp.png
  apps/web/public/images/partners/sprintcheckout.png
  apps/web/public/images/partners/zeus.png
  apps/web/src/data/ecosystem/a0x/metadata.json
  apps/web/src/data/ecosystem/bankless-academy/metadata.json
  apps/web/src/data/ecosystem/bondifinance/metadata.json
  apps/web/src/data/ecosystem/burner/metadata.json
  apps/web/src/data/ecosystem/cybro/metadata.json
  apps/web/src/data/ecosystem/drop-dimes/metadata.json
  apps/web/src/data/ecosystem/fractal-visions/metadata.json
  apps/web/src/data/ecosystem/securedapp/metadata.json
  apps/web/src/data/ecosystem/sprintcheckout/metadata.json
  apps/web/src/data/ecosystem/zeus-exchange/metadata.json
Labels: base ecosystem review, base docs review

#2305 feat: update Metalend ecosystem entry
  apps/web/public/images/partners/metalend.png
  apps/web/src/data/ecosystem/metalend/metadata.json
Labels: base ecosystem review

#2247 add swaps io
  apps/web/data/ecosystem/swaps-io/metadata.json
  apps/web/public/images/partners/swaps-io.png
Labels: base ecosystem review

#2332 web(ecosystem): Update with latest editions for week ended
  apps/web/src/data/ecosystem.json
  apps/web/src/data/ecosystem/aviator-arcade/metadata.json
  apps/web/src/scripts/buildEcosystem.ts
Labels: base ecosystem review

#2331 docs(flashblocks): Fix broken link in node providers section
  apps/base-docs/docs/pages/chain/flashblocks/node-providers.mdx
Labels: base docs review

#2325 Docs/onchain social
  apps/base-docs/docs/pages/use-cases/decentralize-social-app.mdx
  apps/base-docs/docs/pages/use-cases/onchain-social.mdx
  apps/base-docs/sidebar.ts
Labels: base docs review

#2352 docs: fix non working links to Service Providers
  apps/base-docs/docs/pages/base-services-hub.mdx
Labels: base docs review

#2339 Fixed a link
  apps/base-docs/docs/pages/learn/arrays/arrays-exercise.mdx
  apps/base-docs/docs/pages/quickstart.mdx
Labels: base docs review

#2336 chore: use new rds
  apps/web/app/api/registry/entries/route.ts
  apps/web/app/api/registry/featured/route.ts
  apps/web/package.json
  apps/web/src/utils/datastores/rds/index.ts
  apps/web/src/utils/proofs/discount_code_storage.ts
  apps/web/src/utils/proofs/proofs_storage.ts
  yarn.lock
Labels: base web review

#2318 docs: Add new <OnchainKitProvider /> config docs
  apps/base-docs/docs/pages/builderkits/onchainkit/config/onchainkit-provider.mdx
Labels: base docs review
