Repository base/web, pull requests merged in 2025-04, with the labels that each got.

#2110 Fix logical error in requireAddEvenNumbers function
  apps/base-docs/docs/pages/learn/control-structures/control-structures.mdx
Labels: base docs review

#1957 Correction of link errors
  apps/base-docs/docs/pages/cookbook/smart-contract-development/remix/deploy-with-remix.mdx
Labels: base docs review

#2178 Update wallet-features.mdx
  apps/base-docs/docs/pages/identity/wallet-sdk/wallet-features.mdx
Labels: base docs review

#2048 fix vercel deploy-to-vercel.mdx
  apps/base-docs/docs/pages/cookbook/use-case-guides/deploy-to-vercel.mdx
Labels: base docs review

#2201 Update Smart Wallet list of Networks
  apps/base-docs/docs/pages/identity/smart-wallet/concepts/features/built-in/networks.mdx
Labels: base docs review

#2202 Expose guides in Sub Accounts Sub-section
  apps/base-docs/sidebar.ts
Labels: base docs review

#2200 Add Smart Wallet Docs contribute section
  apps/base-docs/docs/pages/identity/smart-wallet/contribute/contribute-to-smart-wallet-docs.mdx
  apps/base-docs/docs/pages/identity/smart-wallet/contribute/security-and-bug-bounty.mdx
  apps/base-docs/sidebar.ts
Labels: base docs review

#2183 Impossible cloud network
  apps/web/public/images/partners/icn.png
  apps/web/src/data/ecosystem/impossible-cloud-network/metadata.json
Labels: base ecosystem review, question

#2218 Update API3 logo and metadata
  apps/web/public/images/partners/API3.webp
  apps/web/public/images/partners/Api3.png
  apps/web/src/data/ecosystem/api3-dao/metadata.json
Labels: base ecosystem review

#2228 docs(node): Update note mentioning Geth Archive support
  apps/base-docs/docs/pages/chain/run-a-base-node.mdx
Labels: base docs review

#2165 Add AITV to Base ecosystem Page
  apps/web/public/images/partners/aitv.png
  apps/web/src/data/ecosystem/aitv/metadata.json
Labels: base ecosystem review

#2226 add Aviator Arcade to Base Ecosystem page
  apps/web/public/images/partners/aviator_arcade.png
  apps/web/src/data/ecosystem/aviator-arcade/metadata.json
Labels: base ecosystem review

#2229 Add OXAI
  apps/web/public/images/partners/oxai.png
  apps/web/src/data/ecosystem/oxai/metadata.json
Labels: base ecosystem review

#2221 added social thinking guide
  apps/base-docs/docs/pages/builderkits/minikit/thinking-social.mdx
  apps/base-docs/sidebar.ts
Labels: base docs review

#2231 Fix: Correct broken Basenames OnchainKit tutorial link in FAQ
  apps/web/src/components/Basenames/RegistrationFaq/index.tsx
Labels: base docs review

#2196 Update Ecosystem Page
  README.md
  apps/web/data/ecosystem/sample-app/metadata.json
  apps/web/public/images/partners/agentipy.png
  apps/web/public/images/partners/aiagentarena.png
  apps/web/public/images/partners/aibased.png
  apps/web/public/images/partners/coinwallet.png
  apps/web/public/images/partners/elsa.webp
  apps/web/public/images/partners/fashion-fun.png
  apps/web/public/images/partners/humanode.png
  apps/web/public/images/partners/inco-logo-192.png
  apps/web/public/images/partners/leveragex.png
  apps/web/public/images/partners/liteflow-logo.png
  apps/web/public/images/partners/multisender.png
  apps/web/public/images/partners/reflect.png
  apps/web/public/images/partners/rivalznetwork.png
  apps/web/public/images/partners/songs.png
  apps/web/public/images/partners/syky.png
  apps/web/public/images/partners/vaultsfyi.png
  apps/web/src/data/ecosystem.json
  apps/web/src/data/ecosystem/agentipy/metadata.json
  apps/web/src/data/ecosystem/aiagentarena/metadata.json
  apps/web/src/data/ecosystem/aibased/metadata.json
  apps/web/src/data/ecosystem/basenji/metadata.json
  apps/web/src/data/ecosystem/coin-wallet/metadata.json
  apps/web/src/data/ecosystem/elsa/metadata.json
  apps/web/src/data/ecosystem/fashion-fun/metadata.json
  apps/web/src/data/ecosystem/humanode/metadata.json
  apps/web/src/data/ecosystem/inco/metadata.json
  apps/web/src/data/ecosystem/leveragex/metadata.json
  apps/web/src/data/ecosystem/liteflow/metadata.json
  apps/web/src/data/ecosystem/multisender/metadata.json
  apps/web/src/data/ecosystem/reflect/metadata.json
  apps/web/src/data/ecosystem/rivalz/metadata.json
  apps/web/src/data/ecosystem/songs/metadata.json
  apps/web/src/data/ecosystem/syky/metadata.json
  apps/web/src/data/ecosystem/vaultsfyi/metadata.json
  apps/web/src/scripts/buildEcosystem.ts
Labels: base ecosystem review
