Repository base/web, pull requests merged in 2025-03, with the labels that each got.

#1571 Add IPOR protocol
  apps/web/public/images/partners/ipor.svg
  apps/web/src/data/ecosystem.json
Labels: change(s) requested, base ecosystem review

#1826 add Heurist AI to base ecosystem
  apps/web/public/images/partners/heurist.png
  apps/web/src/data/ecosystem.json
Labels: base ecosystem review

#1827 fix: update dead link to Privy website
  apps/base-docs/docs/pages/cookbook/account-abstraction/account-abstraction-on-base-using-privy-and-the-base-paymaster.mdx
Labels: base docs review

#1830 Fix Typographical Error in Deployment Instructions
  apps/base-docs/docs/pages/cookbook/use-case-guides/creator/convert-farcaster-frame-to-open-frame.mdx
Labels: base docs review

#1763 Add Swan to Ecosystem Page
  apps/web/public/images/partners/swan-logo.png
  apps/web/src/data/ecosystem.json
Labels: base ecosystem review

#1889 fix: docs links
  apps/base-docs/docs/public/serve.json
Labels: base web review

#1810 chore: fix broken links
  apps/base-docs/docs/pages/cookbook/smart-contract-development/foundry/deploy-with-foundry.mdx
  apps/base-docs/docs/pages/cookbook/smart-contract-development/tenderly/deploy-with-tenderly.mdx
Labels: base docs review

#1666 Add Cowswap to Base ecosystem page
  apps/web/public/images/partners/cowswap.png
  apps/web/src/data/ecosystem.json
Labels: base ecosystem review

#1724 making updates in the project name , description and logo
  apps/web/public/images/partners/moveUP-logo.png
  apps/web/public/images/partners/peakchain-moveup.png
  apps/web/src/data/ecosystem.json
Labels: base ecosystem review

#1561 20lab project submission (Attempt #3)
  apps/web/src/data/ecosystem.json
Labels: base ecosystem review

#1824 Fix white button comments in Button component
  apps/base-docs/docs/components/Button/index.tsx
Labels: base web review

#1905 Fix Typographical Errors in Documentation
  apps/base-docs/docs/pages/cookbook/use-case-guides/commerce/build-an-ecommerce-app.mdx
Labels: base docs review

#1911 Updated links for docs
  apps/base-docs/docs/pages/cookbook/token-gating/gate-irl-events-with-nouns.mdx
Labels: base docs review

#1912 docs: fix typo in "Swap Settings" section
  apps/base-docs/docs/pages/use-cases/defi-your-app.mdx
Labels: base docs review

#1897 feat: update redirect links in `middleware.ts` and `serve.json`
  apps/base-docs/docs/public/serve.json
  apps/web/middleware.ts
Labels: base web review

#1896 chore: add link to OCK Playground
  apps/web/src/components/Builders/Shared/LiveDemo/index.tsx
Labels: base web review

#1895 fix: fix `L1StandardBridge` import and usage in `usePrepareBridge` hook
  apps/bridge/src/utils/hooks/usePrepareERC20DepositTo.ts
Labels: base web review

#1887 fix: rename function `controlerModel` to `controllerModel`
  apps/web/src/components/ThreeHero/models.tsx
Labels: base web review

#1629 fix: fix typo in `MenuMobile` class name
  apps/web/src/components/base-org/shared/TopNavigation/MenuMobile.tsx
Labels: base web review

#1764 fix: constant naming error
  apps/web/src/hooks/useWriteBaseEnsTextRecords.ts
Labels: base web review

#1781 fix: clean up unnecessary dependencies in useCallback
  libs/base-ui/components/Layout/Nav/Banner.tsx
Labels: base web review

#1753 Add Ratio1.ai project
  apps/web/public/images/partners/ratio1.png
  apps/web/src/data/ecosystem.json
Labels: change(s) requested, base ecosystem review

#1913 docs: Fix typo in "Send via text" section
  apps/base-docs/docs/pages/chain/wallet.md
Labels: base docs review

#1884 Add MXNe to ecosystem
  apps/web/public/images/partners/mxne.png
  apps/web/src/data/ecosystem.json
Labels: base ecosystem review

#1828 docs: 404 link in `bridge-tokens-with-layerzero.mdx`
  apps/base-docs/docs/pages/cookbook/cross-chain/bridge-tokens-with-layerzero.mdx
Labels: base docs review

#1808 add flaunch.gg app
  apps/web/public/images/partners/flaunch.png
  apps/web/src/data/ecosystem.json
Labels: change(s) requested, base ecosystem review

#1744 add nodit to ecosystem page
  apps/web/public/images/partners/nodit.png
  apps/web/src/data/ecosystem.json
Labels: base ecosystem review

#1961 Fix Broken Documentation Links
  apps/base-docs/docs/pages/builderkits/onchainkit/use-coinbase-smart-wallet-and-eoas.mdx
  apps/base-docs/docs/pages/cookbook/client-side-development/introduction-to-providers.mdx
  apps/base-docs/docs/pages/cookbook/nfts/complex-onchain-nfts.mdx
Labels: base docs review

#1915 docs: Fix typo in tutorial text
  apps/base-docs/docs/pages/cookbook/IPFS/deploy-with-fleek.mdx
Labels: base docs review

#1917 Update use-coinbase-smart-wallet-and-eoas.mdx
  apps/base-docs/docs/pages/builderkits/onchainkit/use-coinbase-smart-wallet-and-eoas.mdx
Labels: base docs review

#1920 Fix Typographical Error
  apps/base-docs/docs/pages/identity/smart-wallet/guides/erc20-paymasters.mdx
Labels: base docs review

#1930 docs: update WalletConnect references to Reown
  apps/base-docs/docs/pages/builderkits/onchainkit/create-a-basename-profile-component.mdx
  apps/base-docs/docs/pages/builderkits/onchainkit/guides/build-onchain-apps.mdx
  apps/base-docs/docs/pages/builderkits/onchainkit/use-coinbase-smart-wallet-and-eoas.mdx
  apps/base-docs/docs/pages/cookbook/client-side-development/introduction-to-providers.mdx
  apps/base-docs/docs/pages/cookbook/use-case-guides/create-email-campaigns.mdx
  apps/base-docs/docs/pages/identity/smart-wallet/guides/create-app/using-onchain-app-template.mdx
  apps/base-docs/docs/pages/identity/smart-wallet/introduction/recommended-libraries.mdx
  apps/base-docs/docs/pages/identity/smart-wallet/wallet-library-support.mdx
Labels: base docs review

#1927 Fix typos
  apps/web/src/hooks/useClickAway.tsx
Labels: base docs review

#1935 Update .env.local.example
  apps/web/.env.local.example
Labels: base docs review

#1954 Correction Explanation
  apps/base-docs/docs/pages/builderkits/onchainkit/fund/get-onramp-buy-url.mdx
Labels: base docs review

#2072 New quickstart link on landing page
  apps/web/app/(base-org)/builders/smart-wallet/page.tsx
Labels: base web review

#1958 Fix: links
  apps/base-docs/docs/pages/cookbook/account-abstraction/account-abstraction-on-base-using-particle-network.mdx
Labels: base docs review

#2104 fix: reimplement vercel/kv
  apps/web/package.json
  apps/web/pages/api/checkNftProof/index.ts
  apps/web/pages/api/registry/entries.ts
  apps/web/pages/api/registry/featured.ts
  apps/web/src/utils/proofs/sybil_resistance.ts
  yarn.lock
Labels: base web review

#2061 fix correction use-coinbase-smart-wallet-and-eoas.mdx
  apps/base-docs/docs/pages/builderkits/onchainkit/use-coinbase-smart-wallet-and-eoas.mdx
Labels: base docs review

#2060 Typos fix base web
  apps/base-docs/docs/pages/learn/deployment-to-testnet/contract-verification-sbs.mdx
  apps/base-docs/docs/pages/learn/hardhat-forking/hardhat-forking.mdx
  apps/base-docs/docs/pages/use-cases/defi-your-app.mdx
  apps/base-docs/docs/pages/use-cases/launch-ai-agents.mdx
  apps/base-docs/docs/pages/use-cases/onboard-any-user.mdx
Labels: base docs review

#2062 typos overview.mdx
  apps/base-docs/docs/pages/identity/smart-wallet/guides/spend-permissions/overview.mdx
Labels: base docs review

#2085 fix `make make` Overview.mdx
  apps/base-docs/docs/pages/identity/smart-wallet/sdk/CoinbaseWalletProvider/request/Overview.mdx
Labels: base docs review

#2105 fix(stories): Incorrect link
  apps/web/src/components/Builders/Stories/BottomCta/index.tsx
Labels: base docs review

#2103 chore: add domain scoping info to sub account doc
  apps/base-docs/docs/pages/identity/smart-wallet/features/sub-accounts.mdx
Labels: base docs review

#2116 Fix link
  apps/base-docs/docs/pages/identity/basenames/basenames-faq.mdx
Labels: base docs review

#2029 error in setup-with-base.mdx
  apps/base-docs/docs/pages/cookbook/smart-contract-development/foundry/setup-with-base.mdx
Labels: base docs review

#2114 Update docs to match new canary
  apps/base-docs/docs/pages/identity/smart-wallet/guides/sub-accounts/creating-sub-accounts.mdx
  apps/base-docs/docs/pages/identity/smart-wallet/sdk/snippets/sdk-parameters.mdx
  apps/base-docs/docs/pages/identity/smart-wallet/sdk/sub-account-reference.mdx
Labels: base docs review

#2115 Update Spend Permission docs
  apps/base-docs/docs/pages/identity/smart-wallet/guides/spend-permissions/overview.mdx
Labels: base docs review

#2023 fix error introduction-to-providers.mdx
  apps/base-docs/docs/pages/cookbook/client-side-development/introduction-to-providers.mdx
Labels: base docs review

#2025 fix issue why-base.md
  apps/base-docs/docs/pages/chain/why-base.md
Labels: base docs review

#2018 typo gasless-transactions-with-paymaster.mdx
  apps/base-docs/docs/pages/builderkits/onchainkit/paymaster/gasless-transactions-with-paymaster.mdx
Labels: base docs review

#2008 fix typo errors.mdx
  apps/base-docs/docs/pages/builderkits/onchainkit/paymaster/errors.mdx
Labels: base docs review

#2006 Fix broken links
  apps/base-docs/docs/pages/cookbook/token-gating/gate-irl-events-with-nouns.mdx
  apps/base-docs/docs/pages/cookbook/use-case-guides/deploy-to-vercel.mdx
  apps/base-docs/docs/pages/cookbook/use-case-guides/finance/access-real-time-asset-data-pyth-price-feeds.mdx
Labels: base docs review

#1999 Update use-avatar.mdx
  apps/base-docs/docs/pages/builderkits/onchainkit/identity/use-avatar.mdx
Labels: base docs review

#1989 incorrect build-onchain-apps.mdx
  apps/base-docs/docs/pages/builderkits/onchainkit/guides/build-onchain-apps.mdx
Labels: base docs review

#1984 Update supplemental-providers.mdx
  apps/base-docs/docs/pages/builderkits/onchainkit/config/supplemental-providers.mdx
Labels: base docs review

#1975 fix correct
  apps/base-docs/docs/pages/builderkits/onchainkit/fund/fetch-onramp-options.mdx
Labels: base docs review

#1969 Fix
  apps/base-docs/docs/pages/cookbook/smart-contract-development/foundry/deploy-with-foundry.mdx
  apps/base-docs/docs/pages/cookbook/smart-contract-development/foundry/generate-random-numbers-contracts.md
Labels: base docs review

#2113 Fix link
  apps/base-docs/docs/pages/chain/security/app-blocklist.md
Labels: base docs review

#2111 Fix Incorrect Faucet Links in Documentation
  apps/base-docs/docs/pages/cookbook/smart-contract-development/hardhat/deploy-with-hardhat.md
  apps/base-docs/docs/pages/learn/deployment-to-testnet/contract-verification-sbs.mdx
  apps/base-docs/docs/pages/learn/deployment-to-testnet/deployment-to-base-sepolia-sbs.mdx
Labels: base docs review

#2084 Interactive Example for for Sub Account
  apps/base-docs/docs/components/smart-wallet/Illustration.tsx
  apps/base-docs/docs/components/smart-wallet/SubAccount.tsx
  apps/base-docs/docs/pages/identity/smart-wallet/features/sub-accounts.mdx
  apps/base-docs/package.json
  yarn.lock
Labels: base docs review

#2117 chore: replace ioredis with upstash/redis
  apps/web/package.json
  apps/web/pages/api/checkNftProof/index.ts
  apps/web/pages/api/registry/entries.ts
  apps/web/pages/api/registry/featured.ts
  apps/web/src/utils/kv/index.ts
  apps/web/src/utils/proofs/sybil_resistance.ts
  yarn.lock
Labels: base web review

#2092 Fix Smart Wallet Paymasters Guide
  apps/base-docs/docs/pages/identity/smart-wallet/guides/paymasters.mdx
  apps/base-docs/docs/public/images/smart-wallet/PaymasterAllowlist.png
  apps/base-docs/docs/public/images/smart-wallet/PaymasterCDP.png
Labels: base docs review

#2077 chore(ONRAMP-5024): Update docs. Add apiKey to onramp utils
  apps/base-docs/docs/pages/builderkits/onchainkit/fund/fetch-onramp-config.mdx
  apps/base-docs/docs/pages/builderkits/onchainkit/fund/fetch-onramp-options.mdx
  apps/base-docs/docs/pages/builderkits/onchainkit/fund/fetch-onramp-quote.mdx
  apps/base-docs/docs/pages/builderkits/onchainkit/fund/fetch-onramp-transaction-status.mdx
  apps/base-docs/docs/pages/builderkits/onchainkit/fund/types.mdx
Labels: base web review
